.footer {
  padding: 36px 0 96px;
  margin: 0 auto;
  display: flex;
  max-width: 517px;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
  }
}

.footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.footer a:first-child {
  margin-left: 18px;
  margin-right: 127px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer a:first-child:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  background: url("../img/mail.svg") no-repeat;
  top: 1px;
  left: -42px;
}

.footer a:last-child:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 23px;
  background: url("../img/phone.svg") no-repeat;
  top: -3px;
  left: -26px;
}

.footer a:hover {
  color: #0AD9C6;
}
