.footer {
  padding: 41px 0 96px 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding: 21px 0 55px 29px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    padding: 30px 0 55px 50px;
    max-width: 227px;
  }
}

.footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.footer__mail {
  margin-right: 127px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__tel {
  @media (max-width: $mobile-width) {
    margin-right: 25px;
    margin-top: 24px;
  }
}

.footer__mail::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  background: url("../img/mail.svg") no-repeat;
  top: 2px;
  left: -42px;
}

.footer__tel::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 23px;
  background: url("../img/phone.svg") no-repeat;
  top: -3px;
  left: -35px;

  @media (max-width: $mobile-width) {
    left: -37px;
  }
}

.footer a:hover {
  color: $basic;
}
