.promo {
  min-height: 825px;
  display: flex;
  justify-content: center;
  background: #212121 url("../img/promo-desktop.jpg") no-repeat;
  background-size: cover;
  padding-top: 318px;
  box-sizing: border-box;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #212121 url("../img/promo-desktop@2x.jpg") no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    min-height: auto;
    background: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
}

.promo__wrapper {
  width: 393px;
  min-height: 267px;
  margin-right: 160px;
  text-align: left;
  position: relative;

  @media (max-width: $tablet-width) {
    background: #212121 url("../img/promo-tablet.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 340px;
    margin: 0;
    text-align: center;
    padding: 108px 166px 0;
    box-sizing: border-box;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #212121 url("../img/promo-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width) {
    background: #212121 url("../img/promo-mobile.jpg") no-repeat;
    padding: 94px 5px 0;
    height: 390px;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #212121 url("../img/promo-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}

.promo__wrapper img {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 25px;
    left: 21px;
  }

  @media (max-width: $mobile-width) {
    left: 17px;
  }
}

.promo__wrapper a {
  pointer-events: none;
  cursor: default;
}

.promo h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.08px;
  color: $white;
  margin: 27px 0 25px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 19px;
  }
}

.promo p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.08px;
  color: $white;
  opacity: 0.8;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.promo h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.01em;
  color: $white;
  margin: 0;
}

.promo__form {
  display: flex;
  flex-direction: column;
  max-width: 327px;
  margin-top: 5px;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    margin: 0 auto;
    max-width: 321px;
  }

  @media (max-width: $mobile-width) {
    max-width: 767px;
    margin: 0 16px;
  }
}

.promo__form h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.08px;
  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $black;
  }
}

.promo__form input {
  min-height: 48px;
  width: 100%;
  padding: 16px 0 10px 28px;
  box-sizing: border-box;
  border: 1px solid #c9ccd4;
  border-radius: 6px;
  margin-bottom: 19px;

  @media (max-width: $tablet-width) {
    padding-left: 21px;
    padding-top: 14px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
    margin-bottom: 20px;
  }
}

.promo__input--first input {
  margin-top: 19px;

  @media (max-width: $tablet-width) {
    margin-top: 30px;
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.promo__input--second input {
  margin-bottom: 21px;

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
  }
}

.promo__form input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #1c1c1c;
  opacity: 0.5;
}

.promo__submit {
  font-family: "Open Sans", sans-serif;
  min-height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: $black;
  background: $basic;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.promo__submit:hover {
  background: $basic-hover;
}

.promo__input--notvalid input {
  border: 3px solid #ee0909;
}

.promo__input--valid input {
  border: 1px solid #0ad9c6;
}
