.search {
  margin-top: 250px;
}

.search h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.08px;
  color: $opacity-black;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.search p {
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.7);
  width: 555px;
  margin: 0 auto;
  padding: 29px 0 40px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.search iframe {
  @media (max-width: $tablet-width) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 250px;
  }
}
