.types {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f7f9;
  padding: 149px 0 147px 0;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 50px 0 70px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 0 52px 0;
  }
}

.types h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.08px;
  color: $opacity-black;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }
}

.types__list {
  list-style: none;
  margin: 52px 0 0;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    max-width: 590px;
    margin-top: 31px;
  }

  @media (max-width: $mobile-width) {
    max-width: 320px;
  }
}

.types__item {
  margin-right: 50px;
  position: relative;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.types__item--first {
  margin-top: 10px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.types__item--second {
  margin-top: 39px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.types__item:nth-child(2n + 2) {
  @media (max-width: $tablet-width) {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 41px;
  }
}

.types__item--third {
  margin-right: 0;
}

.types__item:nth-child(2n+3) {
  @media (max-width: $tablet-width) {
    margin-top: 51px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 43px;
  }
}

.types__item:nth-child(2n+4) {
  @media (max-width: $tablet-width) {
    margin-top: 51px;
    margin-left: 50px;
  }
}

.types__item p {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
  margin: 0;
  padding-top: 15px;

  @media (max-width: $tablet-width) {
    padding-top: 17px;
  }
}

.types__item--first::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background: url("../img/Ellipse1.svg") no-repeat;
  top: 155px;
  left: -60px;
  z-index: -1;

  @media (max-width: $tablet-width) {
    width: 127px;
    height: 127px;
    background-size: contain;
    top: 202px;
    left: -37px;
  }

  @media (max-width: $mobile-width) {
    top: 201px;
    left: -26px;
  }
}

.types__item--second::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  background: url("../img/kvadrat.svg") no-repeat;
  top: -20px;
  left: -20px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.types__item--second::after {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  background: url("../img/kvadrat.svg") no-repeat;
  bottom: 33px;
  right: -23px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.types__item--third::before {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  background: url("../img/Ellipse2.svg") no-repeat;
  top: -33px;
  right: -37px;

  @media (max-width: $tablet-width) {
    background-size: contain;
    width: 68px;
    height: 68px;
    top: -20px;
    right: -25px;
  }

  @media (max-width: $mobile-width) {
    top: -21px;
    right: -15px;
  }
}

.types__item img {
  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}
