.video {
  background: #131314;
  position: relative;
  min-height: 706px;
  padding-top: 124px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    min-height: 413px;
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    min-height: 384px;
    padding-top: 85px;
  }
}

.video__wrapper {
  position: absolute;
  bottom: -104px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (max-width: $tablet-width) {
    bottom: -89px;
  }

  @media (max-width: $mobile-width) {
    bottom: -55px;
  }
}

.video h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.08px;
  color: #ffffff;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}

.video p {
  width: 340px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.08px;
  color: #ffffff;
  opacity: 0.7;
  padding-top: 19px;

  @media (max-width: $tablet-width) {
    width: 429px;
    font-size: 16px;
    line-height: 28px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    padding: 20px 5px 0;
  }
}

.video__btn {
  position: absolute;
  width: 65px;
  height: 65px;
  background: $basic;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -54%);

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
    transform: translate(-50%, -53%);
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
    transform: translate(-50%, -55%);
  }
}

.video__btn:hover {
  background: $basic-hover;
  border: 3px solid #0e9285;
}

.video__wrapper img {
  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    height: 162px;
  }
}

.video__btn svg {
  position: absolute;
  left: 44%;

  @media (max-width: $tablet-width) {
    width: 19px;
    height: 26px;
  }

  @media (max-width: $mobile-width) {
    width: 14px;
    height: 19px;
  }
}
